<ion-content>
  <main>


    <section class="header-wrapper">
      <span class="header-menu">
        <ion-menu-button color="light"></ion-menu-button>
      </span>
      <div class="header-container">
        <p class="header-title">User Profile</p>
        <div class="header-image">
          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
        </div>
      </div>
      <div class="header-info">
        <h1 class="header-username">Mobile Navia</h1>
      </div>
    </section>

    <section class="user-info">
      <div class="user-properties">
        <div class="user-property" *ngFor="let n of [1,2,3,4]">
          <label for="name">Name</label>
          <p id="name">Mobile Navia</p>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

      </div>
    </section>


    <section class="settings-info">
      <h4 class="settings-title">Other Settings</h4>
      <div class="user-properties">
        <div class="user-property" *ngFor="let n of [1,2,3,4]">
          <label for="name">Name</label>
          <p id="name">Mobile Navia</p>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>

      </div>
    </section>
  </main>


</ion-content>
