main {
  background: rgb(240, 239, 239) !important;
}

.header {
  &-menu {
    position: absolute;
    top     : 50;
    left    : 50;
  }

  &-wrapper {
    height        : 6.2em;
    background    : #1da1ad;
    overflow      : visible;
    position      : relative;
    display       : flex;
    flex-direction: column;
    text-align    : center;
    color         : white;
  }

  &-title {
    text-transform: uppercase;
    font-weight   : 500;
    letter-spacing: 2px;
    font-size     : small;

  }

  &-image {
    margin-top: 1.9em;

    img {
      overflow     : hidden;
      height       : 5.5em;
      width        : 5.5em;
      border-radius: 50%;
      border       : 0.4em solid white;
    }
  }

  &-info {
    margin: 0;
  }

  &-username {
    color      : black;
    font-weight: 100;
  }

}



.user {
  &-info {
    margin-top: 7.2em;
    padding   : 0 1em;
  }

  &-properties {
    display       : flex;
    flex-direction: column;
    gap           : 0.1em;
  }


  &-property {
    border-radius   : 0.33em;
    background-color: white;
    display         : flex;
    align-items     : center;
    border-bottom   : 1px solid rgba(199, 196, 196, 0.705);
    padding         : 0 0.33rem;

    label {
      flex: 1;
    }

    p {
      flex: 2;
    }
  }
}


.settings {
  &-info {
    margin-top: 2em;
    padding   : 0 1em;
  }

  &-title {
    color      : gray;
    font-weight: 400;
  }



  &-property {
    background-color: white;
    display         : flex;
    align-items     : center;
    border-bottom   : 1px solid rgba(199, 196, 196, 0.705);

    label {
      flex: 1;
    }

    p {
      flex: 2;
    }
  }
}
