* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}


main {
  background: rgb(240, 239, 239) !important;
}

section {
  padding: 1em;
}


.header {
  &-wrapper {
    color     : white;
    background: #1da1ad;
  }

  &-mininfo {
    text-transform: uppercase;
    font-weight   : bold;
  }

  &-title {
    font-weight: 100;
  }

  &-subinfo {
    font-weight: 200;
  }
}


.card {

  &-container {
    display       : flex;
    flex-direction: column;
    gap           : 1em;
  }

  &-wrapper {
    border-radius: 0.22em;
    background   : white;

    box-shadow: 2px 2px 3px rgba(218, 215, 215, 0.342);
  }

  &-title {
    display      : flex;
    align-items  : center;
    gap          : 1em;
    padding      : 1em 0;
    border-bottom: 1px solid rgb(226, 219, 219);

    h2 {
      font-size: large;
    }
  }

  &-infos {
    padding: 1em;
  }

  &-info {
    display: flex;
    margin : 0.3em 0;

    label {
      flex          : 6;
      font-weight   : 500;
      letter-spacing: 1px;
      font-size     : small;
      text-transform: uppercase;
      color         : gray;
    }

    p {
      flex: 2;
    }
  }

  &-buttons {
    display: flex;
    gap    : 1em;
    padding: 1em;

    button {
      flex          : 1;
      background    : orangered;
      color         : white;
      padding       : 0.9em;
      border-radius : 5px;
      font-size     : small;
      font-weight   : bold;
      text-transform: uppercase;

      &:nth-child(2) {
        border    : 1px solid orangered;
        color     : orangered;
        background: white;
      }
    }
  }
}
