<ion-content>

  <main>
    <section class="header-wrapper">
      <p class="header-mininfo">Benifits</p>
      <h1 class="header-title">Mobile Navia</h1>
      <p class="header-subinfo">Test demo company inc</p>
    </section>



    <section class="card-container">


      <div *ngFor="let n of [1,2,3,4]" class="card-wrapper">
        <div class="card-title">
          <ion-icon name="people-outline" style="font-size: 32px;color: #1da1ad;margin-left: 0.3em;">
          </ion-icon>
          <h2>2021 Day Care FSA</h2>
        </div>
        <div class="card-infos">
          <div *ngFor="let n of [1,2,3]" class="card-info">
            <label for="test">Annual Election</label>
            <p id="test"> $ 269</p>
          </div>
        </div>

        <div class="card-buttons">
          <button>Submit Claim</button>
          <button>View Details</button>
        </div>
      </div>

    </section>

  </main>
</ion-content>
