main {
  background: rgb(240, 239, 239) !important;
  height    : 100%;
}


* {
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
}

.header {
  &-wrapper {
    background: #1da1ad;
    color     : white;
    padding   : 0 1em;
    height    : 5.2em;
  }

  &-container {
    display    : flex;
    align-items: center;
    gap        : 1em;

    ion-icon {
      font-size: 1.5em;
    }

    h4 {
      text-transform: uppercase;
      font-weight   : 600;
      font-size     : 1em;
      letter-spacing: 1px;

    }
  }
}


.alert {
  &-wrapper {
    padding: 1em 0;
  }

  &-body {
    background: rgb(255, 255, 255);
    display   : flex;
    padding   : .5em;
    gap       : 1em;
    margin    : .5rem 0;
  }

  &-time {
    padding  : 0.7em;
    font-size: large;
  }

  &-subinfo {
    display: flex;
    margin : 0.3rem 0;

    p {
      flex       : 1;
      font-weight: 500;
    }
  }

  &-details {
    display    : flex;
    gap        : 3em;
    align-items: center;

  }

  &-texts {
    display       : flex;
    flex-direction: column;
    gap           : 0.5em;

    p {
      color      : gray;
      font-weight: 300;
    }
  }
}
