<ion-content>
  <main>
    <section class="header-wrapper">
      <div class="header-container">
        <ion-menu-button color="light"></ion-menu-button>
        <!-- <ion-icon name="notifications-outline"></ion-icon> -->
        <h4>Alert Management</h4>
      </div>
    </section>

    <section class="alert-wrapper">
      <div class="alert-time">2022</div>
      <div class="alert-body" *ngFor="let n of [1,2,3,4,5]">
        <span class="alert-icon-wrapper">
          <ion-icon style="background: rgb(8, 134, 8);color: white;font-weight:bold;border-radius: 0.5rem;padding: 0.4rem;" name="notifications-outline"></ion-icon>
        </span>

        <div class="alert-info">
          <div class="alert-subinfo">
            <p>GoNavia Compute</p>
            <time>Mar 5, 2022</time>
          </div>

          <div class="alert-details">

            <div class="alert-texts">
              <h5>Upcomming Date</h5>
              <p>
                The last date to add or edit your may GoNavia Compute benifit
                order.
              </p>
            </div>
            <ion-icon name="notifications-outline" style="font-size: 32px;"></ion-icon>

          </div>




        </div>
      </div>
    </section>
  </main>
</ion-content>
