<ion-content>
  <main>
    <section>
      <ion-icon name="alert-circle-outline" style="color:red;font-size: 10em;"></ion-icon>
      <p style="color: red;">The page you are looking for that is not found.</p>
      <ion-button routerLink="/tabs/home" color="warning">Go Back</ion-button>
    </section>
  </main>
</ion-content>
