<ion-app>
  <ion-split-pane contentId="first">

    <ion-menu contentId="first" side="start">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-ripple-effect></ion-ripple-effect>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>


  <ion-router-outlet id="first"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
