<!--<ion-split-pane *transloco="let trans; read: 'menu'" content-id="main-content">-->
<!--  <ion-menu *ngIf="menuService.menuShouldVisible | async" content-id="main-content" side="end">-->
<!--    <ion-content>-->
<!--      <header class=" flex flex-col p-6 border-b-2  ">-->
<!--        <h1 class="text-2xl font-semibold tracking-wider text-primary">Taqwa</h1>-->
<!--      </header>-->
<!--      <aside class="px-2  py-2">-->
<!--        <ul class="space-y-2">-->
<!--          <li (click)="onMenuSelect()" *ngFor="let menu of menuOptions" [routerLink]="menu.route" [routerLinkActive]="'!text-primary bg-primary/10'" class="flex px-2 py-3 space-x-2 items-center rounded">-->
<!--            <ion-icon [name]="menu.icon" style="font-size: 22px"></ion-icon>-->
<!--            <a class="text-sm font-normal tracking-wider   ">{{menu.title}}</a>-->
<!--          </li>-->

<!--          <li (click)="onMenuSelect()" [routerLinkActive]="'  !text-primary'" class="flex px-2 py-3 space-x-2   items-center rounded">-->
<!--            <ion-icon name="log-out-outline" style="font-size: 22px"></ion-icon>-->
<!--            <a (click)="logOut()" class="text-sm font-normal tracking-wider   ">Log Out</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </aside>-->
<!--    </ion-content>-->
<!--  </ion-menu>-->
<!--  <ng-content select="[content]"></ng-content>-->
<!--</ion-split-pane>-->

<!--<ion-split-pane *transloco="let trans; read:'menu'" content-id="main-content">
  <ion-menu   content-id="main-content" side="end">
    <ion-content>
      <div class="absolute top-0 left-0 w-16 h-16 overflow-hidden z-[-1]">
        <img alt="" class="w-full" src="./assets/img/Dot%20Grid.png">
      </div>
      <section class="h-screen flex flex-col">
        <header class="p-2">
          <h1 class="font-black text-3xl tracking-wider uppercase  ">Taqwa</h1>
        </header>

        <main class="flex-1 py-6 overflow-y-auto">
          <ul class="flex flex-col space-y-1">

            <li (click)="onMenuSelect()" *ngFor="let menu of menuOptions;let index=index"
              [routerLinkActive]="'bg-white rounded-tl-full rounded-bl-full font-bold'"
              class="p-4 ml-4 ">
              <a [routerLink]="menu.route" class="flex items-center space-x-2">
                <ion-icon [name]="menu.icon" [routerLinkActive]="'text-gray-700'" class=" "></ion-icon>
                <span [routerLinkActive]="'text-gray-700'"
                  class="uppercase tracking-wider  ">{{trans(menu.title)}}</span>
              </a>
            </li>


          </ul>
        </main>

        <footer class="p-4">


          <div class="p-2 flex justify-between items-center border-b border-gray-100">
            <label class="  font-bold ">Translate to Bangla</label>
            <ion-toggle (ionChange)="translate()"></ion-toggle>
          </div>


          <div class="flex justify-between  items-center">
            <div class="flex flex-col space-y-2 items-start  ">
              <a class="flex items-center space-x-2">
                <ion-icon name="settings-outline"></ion-icon>
                <span>Settings</span></a>
              <a (click)="onLogoutClick()" class="flex items-center space-x-2">
                <ion-icon name="log-out-outline"></ion-icon>
                <span>Logout</span></a>
            </div>

            <div>
              <img alt="" src="https://via.placeholder.com/50">
            </div>
          </div>

        </footer>
      </section>
    </ion-content>
  </ion-menu>
  <ng-content select="[content]"></ng-content>
</ion-split-pane>-->
<!--
<li (click)="translate( )" class="  p-4 ml-4">
  <a class="flex items-center space-x-2">
    <ion-icon name="grid-outline"></ion-icon>
    <span class="uppercase tracking-wider">Translate</span>
  </a>
</li>-->
